<div class="sample-posting" id="post{{this.id}}">
    <p class="top-row ns-row">{{user.username}}</p>
    <div class="row trade-categories">
        <div class="col-6">
            <h3>Trading</h3>
            <div class="row cards">
                {{#each cards as |card|}}
                    {{#if this.isTrade}}
                        {{> post-card card }}
                    {{/if}}
                {{/each}}
            </div>
            
        </div>
        <div class="col-6">
            <h3>For</h3>
            <div class="row cards">
            {{#each cards as |card|}}
                {{#if this.isWant}}
                    {{> post-card card }}
                {{/if}}
            {{/each}}
            </div>
        </div>
    </div>
    <div class="bottom-row ns-row">
            <button id="add-comment-{{this.id}}" class="comment-button">Comment</button>
            <form id="comment-form-{{this.id}}" class="hidden" action="">
                <textarea name="comment" id="comment-text-{{this.id}}"></textarea>
                <button type="submit" class="comment-button" id="submit-comment-{{this.id}}">Post Comment</button>
                <button class="comment-button cancel-button" id="cancel-comment-{{this.id}}">Cancel</button>
            </form>
            {{#each comments as |comment|}}
                <p class="comment">{{comment.user.username}}:  {{comment.text}}</p>
            {{/each}}
    </div>
</div> 