<div class="sample-posting" id="post{{this.id}}">
    <p class="top-row ns-row">{{user.username}}</p>
    <div class="row trade-categories">
        <div class="col-6">
            <h3>Trading</h3>
            {{#each cards as |card|}}
                {{#if this.isTrade}}
                    {{> post-card card }}
                {{/if}}
            {{/each}}
        </div>
        <div class="col-6">
            <h3>For</h3>
            {{#each cards as |card|}}
                {{#if this.isWant}}
                    {{> post-card card }}
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="bottom-row ns-row">
            <button id="comment-button{{this.id}}" class="comment-button">Comment</button>
            <textarea class="hidden" name="comment" id="comment-text{{this.id}}" cols="30" rows="10"></textarea>
            <button class="hidden comment-button" id="post-comment-button{{this.id}}">Post Comment</button>
    </div>
</div> 