<ol>
    <li>
        {{#each posts}}
        <div class="sample-posting">
            <p class="top-row ns-row">{{user.username}}</p>
            <div class="row trade-categories">
                <p class="col-6">You receive</p>
                <p class="col-6">You give</p>
            </div>
            <div class="row trade-categories cards">
                <div class="col-6 card-container container-fluid d-flex">
                    <div class="card-info">
                        {{#each post_cards}}
                        <img class="card-img" src="{{image_url}}" alt="">
                        <p class="card-atrs">Name: {{card_name}}</p>
                        <p class="card-atrs">Set: {{set_name}}</p>
                        <p class="card-atrs">Rarity: {{card_rarity}}</p>
                        {{/each}}
                    </div>
                </div> 
            </div>
            <div class="bottom-row ns-row">
                <button class="comment-button">Comment</button>
            </div>
        </div>    
        {{/each}}
    </li>
</ol>