<body>
    <div class="sample-posting">
        <!-- user info -->
        <p class="top-row ns-row"></p>
        <!-- cards to trade -->
        <div class="row trade-categories">
            <p class="col-6">Card(s) you have</p>
            <p class="col-6">Card(s) you want</p>
        </div>
        <div class="row trade-categories cards">
            {{#each card}}
            <div class="col-6 card-container container-fluid d-flex">
                <div class="card-info">
                    <img class="card-img" src="{{card.image_url}}" alt="">
                    <p class="card-atrs">Name: {{card.name}}</p>
                    <p class="card-atrs">Set: {{card.set}}</p>
                    <p class="card-atrs">Rarity: {{card.rarity}}</p>
                </div>    
            </div>
            {{/each}}
            {{#each card}}
            <div class="col-6 card-container container-fluid d-flex">
                <div class="card-info">
                    <img class="card-img" src="{{card.image_url}}" alt="">
                    <p class="card-atrs">Name: {{card.name}}</p>
                    <p class="card-atrs">Set: {{card.set}}</p>
                    <p class="card-atrs">Rarity: {{card.rarity}}</p>
                </div>
            </div> 
            {{/each}}
        </div>
        <!-- comment -->
        <div class="bottom-row ns-row">
            <button class="comment-button ">Post</button>
        </div>
    </div>   
</body>